{% load static %}
{% load recaptcha2 %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<style type="text/css">
.BOTTONE-BIANCO-GIALLO {
color: #211B4E;
background-color: #ffffff;
border-radius: 28px;
box-shadow: 2px 2px 0px #fec730;
font-weight: bold;
min-width: 40%;
}

.BOTTONE-BIANCO-GIALLO:hover {
color: #ffffff;
background-color: #211B4E;
border-radius: 28px;
box-shadow: 2px 2px 0px #fec730;
font-weight: bold;
min-width: 40%;
}		

  .fb-button {
    background-color: #213077;
    border-color: #213077;
  }

  .gp-button {
    background-color: #E60C37;
    border-color: #E60C37;
  }

	</style>
	{% recaptcha_init %}
</head>
<body>
	<div class="container" style="margin-bottom:200px;">	
		<div class="row">			
			<div class="col-md-2"></div>
			<div class="col-md-8">
				{% if success %}

					<h1>Benvenuto in Chibe! Hai già guadagnato i tuoi primi {{punti}} punti.</h1>
					<h2>Scarica subito la nostra app, completa il tuo profilo ed entra a far parte della nostra tribù.</h2>
					
					<h2><a href="www.chibeapp.com">www.chibeapp.com</a></h2>


				{% else %}
					{% for message in messages %}
						<div class="alert {{ message.tags }} alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							{{ message }}
						</div>
					{% endfor %}
					
					<div class="text-center">
						<img src="{% static 'homepage.png' %}" height="300">
					</div>

					<h1>{{utente}} ti ha invitato a registrarti a Chibe!</h1>
					<p>Completa il form per registrarti e guadagnare punti o accedi con i Social</p>
					
					<p>
						<a class="btn btn-primary fb-button" href="{% url 'social:begin' 'facebook' %}?user_code={{token}}&next={% url 'successo_invito' %}">Registrati con Facebook</a>

						<a class="btn btn-primary gp-button" href="{% url 'social:begin' 'google-plus' %}?user_code={{token}}&next={% url 'successo_invito' %}">Registrati con Google</a>
					</p>

					<form method="POST">
						{% csrf_token %}
							<div class="form-group">
								<label>Email</label>
								{{form.email}}
							</div>
							<div class="form-group">
								<label>Password</label>
								{{form.password_1}}
							</div>
							<div class="form-group">
								<label>Conferma la password</label>
								{{form.password_2}}
							</div>
							<div class="form-group">
								<label>Username</label>
								{{form.username}}
							</div>		
							<div class="form-group">
								{% for error in form.captcha.errors %}
									<strong>{{error}}</strong>
								{% endfor %}
								{{form.captcha}}
							</div>			
						<button type="submit" class="btn btn-primary BOTTONE-BIANCO-GIALLO">Registrarti</button>	
					</form>				
				{% endif %}
			</div>
		</div>
	</div>	

	<script type="text/javascript" src="{% static 'bootstrap/jquery-3.2.1.slim.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/popper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>	
</body>
</html>